body {
    margin: 0;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

.dock-content-animated {
    /* Override the incredibly distracting rc-dock transition animation */
    transition: none !important;
}

.flexlayout__tab_button {
    border-radius: 5px 5px 0 0;
}
